.background1 {
    background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
}

.background2 {
    background: linear-gradient(to left, #091E3A, #2F80ED);
}

.background3 {
    background: linear-gradient(to left, #41295a, #2F0743);
}

.background4 {
    background: linear-gradient(to left, #0F2027, #203A43, #2C5364);
}

.background5 {
    background: linear-gradient(to left, #0F2027, #203A43, #2C5364);
}

.background6 {
    background: linear-gradient(to left, #8E0E00, #1F1C18);
}

.background7 {
    background: linear-gradient(to left, #000000, #e74c3c);
}

.background8 {
    background: linear-gradient(to left, #ad5389, #3c1053);
}

.background9 {
    background: linear-gradient(to left, #c0392b, #8e44ad);
}

.background10 {
    background: linear-gradient(to left, #200122, #6f0000);
}

.background11 {
    background: linear-gradient(to left, #0B486B, #F56217);
}

.background12 {
    background: linear-gradient(to left, #870000, #190A05);
}

.background13 {
    background: linear-gradient(to left, #232526, #414345);
}

.background14 {
    background: linear-gradient(to left, #c31432, #240b36);
}

.background15 {
    background: linear-gradient(to left, #141E30, #243B55);
}

.tomato {
    color: tomato;
}

.lightskyblue {
    color: lightskyblue;
}

.gold {
    color: gold;
}

.lightcoral {
    color: lightcoral;
}

.orangered {
    color: orangered;
}

.darkslategrey {
    color: darkslategrey;
}

.aqua {
    color: aqua;
}

.seagreen {
    color: seagreen;
}

.darkcyan {
    color: darkcyan;
}

.dodgerblue {
    color: dodgerblue;
}