.background1 {
    background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
}

.background2 {
    background: linear-gradient(to left, #091E3A, #2F80ED, #2D9EE0);
}

.background3 {
    background: linear-gradient(to left, #9400D3, #4B0082);
}

.background4 {
    background: linear-gradient(to left, #c84e89, #F15F79);
}

.background5 {
    background: linear-gradient(to left, #0F2027, #203A43, #2C5364);
}

.background6 {
    background: linear-gradient(to left, #72C6EF, #004E8F);
}

.background7 {
    background: linear-gradient(to left, #0052D4, #4364F7, #6FB1FC);
}

.background8 {
    background: linear-gradient(to left, #ad5389, #3c1053);
}

.background9 {
    background: linear-gradient(to left, #c0392b, #8e44ad);
}

.background10 {
    background: linear-gradient(to left, #200122, #6f0000);
}

.background11 {
    background: linear-gradient(to left, #0B486B, #F56217);
}

.background12 {
    background: linear-gradient(to left, #833ab4, #fd1d1d, #fcb045);
}

.background13 {
    background: linear-gradient(to left, #232526, #414345);
}

.background14 {
    background: linear-gradient(to left, #EB3349, #F45C43);
}

.background15 {
    background: linear-gradient(to left, #4776E6, #8E54E9);
}

.tomato {
    color: tomato;
}

.lightskyblue {
    color: lightskyblue;
}

.gold {
    color: gold;
}

.lightcoral {
    color: lightcoral;
}

.orangered {
    color: orangered;
}

.darkslategrey {
    color: darkslategrey;
}

.aqua {
    color: aqua;
}

.seagreen {
    color: seagreen;
}

.darkcyan {
    color: darkcyan;
}

.dodgerblue {
    color: dodgerblue;
}