.grayscale {
    filter: grayscale(100%) opacity(60%);
}

.tomato {
    color: tomato;
}

.lightskyblue {
    color: lightskyblue;
}

.gold {
    color: gold;
}

.lightcoral {
    color: lightcoral;
}

.orangered {
    color: orangered;
}

.darkslategrey {
    color: darkslategrey;
}

.aqua {
    color: aqua;
}

.seagreen {
    color: seagreen;
}

.darkcyan {
    color: darkcyan;
}

.dodgerblue {
    color: dodgerblue;
}

a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: ease-in .3s;
}

a:hover,
a:focus {
    border-bottom: 2px solid $primaryWhite;
    transition: ease-in .3s;
}

.linkStyle {
    font-family: 'Raleway', sans-serif;
    color: $primaryWhite;
    font-size: calc(2.5vh + 1.5vw);
    padding: 10px 20px;
}