.grayscale {
    filter: grayscale(100%);
}

.transform {
    transform: scale(1.25);
    transition: ease-in 1s;
}

.tomato {
    color: tomato;
}

.lightskyblue {
    color: lightskyblue;
}

.gold {
    color: gold;
}

.lightcoral {
    color: lightcoral;
}

.orangered {
    color: orangered;
}

.darkslategrey {
    color: darkslategrey;
}

.aqua {
    color: aqua;
}

.seagreen {
    color: seagreen;
}

.darkcyan {
    color: darkcyan;
}

.dodgerblue {
    color: dodgerblue;
}