html {
    font-size: 62.5%;
}

h1,
h2,
h3,
p, 
ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

p {
    font-family: $primaryFont;
    text-align: center;
    font-size: 
    font-size: calc(2vh + 2vw);
    margin: 2% 0;
}

a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: ease-in .3s;
}

a:hover,
a:focus {
    border-bottom: 2px solid $primaryWhite;
    transition: ease-in .3s;
}

.grayscale {
    filter: grayscale(100%) opacity(60%);
}