.wrapper-div {
    min-height: 100vh;
    max-width: 1920px;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: stretch;

        .bgRandomButton {
            position: absolute;
            top: 1%;
            right: 1%;
            padding: 14px;
            border-radius: 50%;
            border: 1px solid $primaryWhite;
        }

        .main-div-border {
            width: 90%;
            margin: 5% 0;
            padding: 0 5%;
            display: grid;
            justify-items: center;
            align-items: center;
            border: 1px solid $primaryWhite;
            border-radius: 5px;
            color: $primaryWhite;
            
            p {
                font-family: 'Raleway', sans-serif;
                text-align: center;
                font-size: calc(2vh + 2vw);
                margin: 2% 0;
            }
        

        .inside-flex {
            width: 90%;
            height: 90%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: space-around;

            .inside-flex > button {
                flex-basis: 33%;
            }
        }


        .questionButton {
            font-size: calc(4.25vh + 4.25vw);
            padding: 2%;
            margin: 10px 10px;
        }

        .icons-large {
            font-size: calc(8vh + 8vw);
            padding: 2%;
            margin: 10px 10px;
        }

        .submit-button {
            font-family: 'Raleway', sans-serif;
            font-size: calc(3.5vh + .5vw);
            padding: 5%;
            margin: 10px 10px;
            color: $primaryWhite;
            background: rgba(0,0,0,0);
            border-radius: 5px;
            text-transform: uppercase;
            flex-grow: 1;
        }
    }
}


