html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

p {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 3.5rem;
  font-size: calc(2vh + 2vw);
  margin: 2% 0;
}

a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: ease-in .3s;
  transition: ease-in .3s;
}

a:hover,
a:focus {
  border-bottom: 2px solid #FDFDFD;
  -webkit-transition: ease-in .3s;
  transition: ease-in .3s;
}

.grayscale {
  -webkit-filter: grayscale(100%) opacity(60%);
          filter: grayscale(100%) opacity(60%);
}

.wrapperDiv {
  min-height: 100vh;
  max-width: 1920px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.wrapperDiv .bgRandomButton {
  position: absolute;
  top: 1%;
  right: 1%;
  padding: 14px;
  border-radius: 50%;
  border: 1px solid #FDFDFD;
}

.wrapperDiv .mainDivBorder {
  width: 90%;
  color: #FDFDFD;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5% 0;
  padding: 0 5%;
  border: 1px solid #FDFDFD;
  border-radius: 5px;
}

.wrapperDiv .mainDivBorder .insideFlex {
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.wrapperDiv .mainDivBorder .questionButton {
  font-size: 8rem;
  font-size: calc(4.25vh + 4.25vw);
  cursor: pointer;
  padding: 2%;
  margin: 10px 10px;
}

.wrapperDiv .mainDivBorder .questionButton:hover,
.wrapperDiv .mainDivBorder .questionButton:focus {
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.wrapperDiv .mainDivBorder .iconsLarge {
  font-size: 16rem;
  font-size: calc(8vh + 8vw);
  padding: 2%;
  margin: 10px 10px;
  cursor: pointer;
}

.wrapperDiv .mainDivBorder .iconsLargeNoAnim {
  font-size: 16rem;
  font-size: calc(8vh + 8vw);
  padding: 2%;
  margin: 10px 10px;
}

.wrapperDiv .mainDivBorder .iconsLarge:hover,
.wrapperDiv .mainDivBorder .iconsLarge:focus {
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.wrapperDiv .mainDivBorder .submitButton {
  background: rgba(0, 0, 0, 0);
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  font-size: calc(3.5vh + .5vw);
  text-transform: uppercase;
  color: #FDFDFD;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5%;
  margin: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.wrapperDiv .mainDivBorder .submitButtonAlt {
  background: rgba(0, 0, 0, 0);
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  font-size: calc(3.5vh + .5vw);
  text-transform: uppercase;
  color: #FDFDFD;
  padding: 8%;
  margin: 10px 10px;
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
}

.wrapperDiv .mainDivBorder .submitButton:focus,
.wrapperDiv .mainDivBorder .submitButton:hover,
.wrapperDiv .mainDivBorder .submitButtonAlt:focus,
.wrapperDiv .mainDivBorder .submitButtonAlt:hover {
  background: rgba(255, 255, 255, 0.3);
}

.wrapperDiv .mainDivBorder .linkStyle {
  font-family: "Raleway", sans-serif;
  color: #FDFDFD;
  font-size: 4rem;
  font-size: calc(2.5vh + 1.5vw);
  padding: 10px 20px;
}

.background1 {
  background: -webkit-gradient(linear, right top, left top, from(#24243e), color-stop(#302b63), to(#0f0c29));
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
}

.background2 {
  background: -webkit-gradient(linear, right top, left top, from(#091E3A), to(#2F80ED));
  background: linear-gradient(to left, #091E3A, #2F80ED);
}

.background3 {
  background: -webkit-gradient(linear, right top, left top, from(#41295a), to(#2F0743));
  background: linear-gradient(to left, #41295a, #2F0743);
}

.background4 {
  background: -webkit-gradient(linear, right top, left top, from(#0F2027), color-stop(#203A43), to(#2C5364));
  background: linear-gradient(to left, #0F2027, #203A43, #2C5364);
}

.background5 {
  background: -webkit-gradient(linear, right top, left top, from(#0F2027), color-stop(#203A43), to(#2C5364));
  background: linear-gradient(to left, #0F2027, #203A43, #2C5364);
}

.background6 {
  background: -webkit-gradient(linear, right top, left top, from(#8E0E00), to(#1F1C18));
  background: linear-gradient(to left, #8E0E00, #1F1C18);
}

.background7 {
  background: -webkit-gradient(linear, right top, left top, from(#000000), to(#e74c3c));
  background: linear-gradient(to left, #000000, #e74c3c);
}

.background8 {
  background: -webkit-gradient(linear, right top, left top, from(#ad5389), to(#3c1053));
  background: linear-gradient(to left, #ad5389, #3c1053);
}

.background9 {
  background: -webkit-gradient(linear, right top, left top, from(#c0392b), to(#8e44ad));
  background: linear-gradient(to left, #c0392b, #8e44ad);
}

.background10 {
  background: -webkit-gradient(linear, right top, left top, from(#200122), to(#6f0000));
  background: linear-gradient(to left, #200122, #6f0000);
}

.background11 {
  background: -webkit-gradient(linear, right top, left top, from(#0B486B), to(#F56217));
  background: linear-gradient(to left, #0B486B, #F56217);
}

.background12 {
  background: -webkit-gradient(linear, right top, left top, from(#870000), to(#190A05));
  background: linear-gradient(to left, #870000, #190A05);
}

.background13 {
  background: -webkit-gradient(linear, right top, left top, from(#232526), to(#414345));
  background: linear-gradient(to left, #232526, #414345);
}

.background14 {
  background: -webkit-gradient(linear, right top, left top, from(#c31432), to(#240b36));
  background: linear-gradient(to left, #c31432, #240b36);
}

.background15 {
  background: -webkit-gradient(linear, right top, left top, from(#141E30), to(#243B55));
  background: linear-gradient(to left, #141E30, #243B55);
}

.tomato {
  color: tomato;
}

.lightskyblue {
  color: lightskyblue;
}

.gold {
  color: gold;
}

.lightcoral {
  color: lightcoral;
}

.orangered {
  color: orangered;
}

.darkslategrey {
  color: darkslategrey;
}

.aqua {
  color: aqua;
}

.seagreen {
  color: seagreen;
}

.darkcyan {
  color: darkcyan;
}

.dodgerblue {
  color: dodgerblue;
}
